pre {
	white-space: pre-wrap; /* CSS3*/
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-all; /* Internet Explorer 5.5+ */ 

	font-size: 16px;
}

h2, .h2 {
    margin: 30px 0;
    margin-left: -30px;
    _padding: 20px 20px 24px;
    _padding-left: 50px;
    padding: 5px 5px 6px 30px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #b8f08c;
}

h3, .h3 {
    _margin: 20px 0;
    _margin-left: -20px;
    _margin-right: 20px;
    padding: 3px 20px 3px 10px;
    position: relative;
    background-color: #ffeea8;
}
.case {
	background-color: #0389aa;
}


h1,
.h1 {
  font-size: 28px;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 18px;
  padding: 20px 0 0 0;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}

_img {float:right; margin:0 0 1em 1em}
img {float:right; margin:1em;}

img.alignleft{float:left; margin:0 1em;}
img.alignright{float:right; margin:0 1em;}
img.aligncenter{display:block;margin:0 auto}

div.block {
 display:block;
 clear:both; 
}