<!DOCTYPE html>
<html>
  <head>
    <title>testing ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- start : for socket.io -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- end : for socket.io -->

  </head>
  <body>
    <%- body %>
    <div>
      layout test!!!
    </div>
  </body>
</html>